#banner{
	height: 70vh;
	background-image:background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6993172268907564) 0%, rgba(4,4,43,0.7049194677871149) 35%, rgba(15,99,116,0.7021183473389356) 100%), url("../images/pc.jpg");
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}