.bubble {
	display: flex;
	grid-template-columns: 1fr;
	grid-gap: 8px;
	margin: 30px;
	justify-content: space-around;
}

.bubble img {
	width: 600px;
	height: 400px;
	object-fit: cover;
	border-radius: 6%;
}

@media (min-width: 576px) {
	.bubble {
		grid-template-columns: 1fr;
	}
}
@media (min-width: 768px) {
	.bubble {
		grid-template-columns: 1fr 1fr;
  }
}